/* You can add global styles to this file, and also import other style files */
@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import '../node_modules/font-awesome/css/font-awesome.css';
@import '../node_modules/alertifyjs/build/css/alertify.min.css';
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html,
body,
app-root{
    min-height: 100vh;
    overflow-x: hidden;
    font-family: 'Raleway', sans-serif;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

/* Template  */
.modal-dialog{
    margin-top: 8vh!important;
    max-width: 600px;
    -webkit-box-shadow: 0px 0px 11px 4px rgba(1,60,99,1)!important;
    -moz-box-shadow: 0px 0px 11px 4px rgba(1,60,99,1)!important;
    box-shadow: 0px 0px 11px 4px rgba(1,60,99,1)!important;
}
.modal-content{
    background: #013c63!important;
    text-align: center!important;
}
.bs-datepicker-head{
    background: rgb(255, 107, 62)!important;
}
.week span{
    color: #ff6b3e!important;   
}

/* Alertify */
.alertify-notifier .ajs-message{
    color: rgb(255, 255, 255);
    font-weight: 500;
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0,5);
    border-radius: 10px;
    text-align: center;
    background-color: rgb(1, 60, 99);
}

.alertify-notifier .ajs-message.ajs-success{
    background-color: rgb(255, 107, 62);
}

.alertify-notifier .ajs-message.ajs-error{
    background-color: rgb(143, 40, 40);
}
